@import "tailwindcss";

@theme {
    --color-primary: #102C33;
    --color-accent: #F9906F;
    --color-accent-light: #BCA5AD;
    --color-secondary: #0E191C;
    --color-light: #FBF5F0;
    --color-grey: #C7C2CE;
}

body {
    @apply bg-linear-to-b/oklch from-primary to-secondary text-light; 
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

body:content {
    position: relative;
    z-index: 1;
  }

body:before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.12;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}