* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #36393F;
    color: #DCDDDE;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

@media (max-width: 767px) {
    body {
        align-items: flex-start;
        padding: 0;
    }
}